* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  background-color: black;
  align-items: center;
  font-size: 14px;
}

.main-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  z-index: 2;
}

.main-nav {
  display: flex;
  width: 70%;
  align-items: center;
  font-size: 14px;
}

#spacex-logo {
  height: 25px;
  width: 180px;
  margin-bottom: 7px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header a:hover {
  text-decoration: underline;
}

.first-header-ul,
.second-header-ul {
  color: white;
  display: flex;
  justify-content: space-between;
}
.header li {
  margin: 0 7px;
  letter-spacing: 1px;
}
.second-header-ul li a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.548);
  font-size: 12px;
}
.second-header-ul {
  margin-left: 90px;
}

.carousel-section {
  position: relative;
  width: 100%;
  height: 750px;
  top: 0;
  left: 0;
  overflow: hidden;
}
.carousel-images {
  position: absolute;
  width: 100%;
  height: 100%;
}
#carousel-image {
  width: 100%;
}

.carousel-images-info {
  position: absolute;
  top: 600px;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.767);
  z-index: 3;
}

.info-elements {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.info-elements button:hover {
  cursor: pointer;
}

.carousel-images-info a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.carousel-images-info a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.carousel-images-info button {
  padding: 10px 40px;
  border-radius: 2px;
}

.carousel-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgb(43, 43, 43);
  z-index: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.carousel-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.164);
}

.carousel-buttons button {
  padding: 30px 90px;
  text-align: left;
  background-color: transparent;
  color: white;
  border: none;
}
.company-vision-section {
  width: 100%;
  height: 100px;
}

.company-statement-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-vision-statement {
  font-weight: 550;
  letter-spacing: 1px;
  margin-top: 20px;
}

.updates {
  position: relative;
  width: 100%;
  height: 800px;
}

.box-container {
  width: 53%;
  height: 600px;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.box-container img {
  margin: 10px auto;
  height: 130px;
  width: 250px;
}

.box-1,
.box-2,
.box-3 {
  width: 300px;
  height: 275px;
  border: solid 0.5px rgba(0, 0, 0, 0.089);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.288);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.box-1-text,
.box-2-text,
.box-3-text {
  height: 40%;
  width: 250px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-title {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
}

.learn-more {
  text-decoration: none;
  color: rgba(109, 109, 245, 0.829);
  font-size: 0.7rem;
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: black;
  align-items: center;
  font-size: 14px;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

.footer-ul {
  display: flex;
  justify-content: space-around;
  border-left: 1px solid rgba(139, 139, 139, 0.753);
  padding-left: 5px;
}

#spacex-logo2 {
  height: 15px;
  width: 80px;
  margin-bottom: 4px;
}

footer li,
footer a {
  color: white;
  font-size: 12px;
  text-decoration: none;
  margin: auto 4px;
}
footer h3 {
  color: rgb(180, 180, 180);
  font-size: 12px;
}
